nav {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 3rem;
  width: 93%;
  z-index: 10;
  color: white;
  padding-left: 2rem;
  @include content-between;
  top: 0px;
  bottom: 0px;
  z-index: 10;
  // border: 1px solid;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;

    a {
      text-decoration: none;
      color: white;

      i {
        font-size: 4rem;
      }
    }
  }



  >ul {
    display: none;
    width: auto;
    flex-direction: row;
    height: 100%;
    @include content-center;
    @include reset-list;
    padding-left: 1rem;


    >li {
      display: flex;
      height: 100%;
      padding: 0rem 0.5rem;
      text-transform: capitalize;
      @include content-center;


      >a {
        @include link(white);

        &:hover {
          // transition: all 0.2s ease-out;
          // font-weight: 700;
          color: $quartary-text !important;

        }
      }
    }
  }

  .options {
    display: none;
    flex-direction: row;
    width: auto;
    height: auto;
    @include content-center;

    >ul {
      display: flex;
      width: 100%;
      height: 100%;
      @include content-center;
      @include reset-list;


      >li {
        display: flex;
        height: 100%;
        padding: 0rem 1rem;
        text-transform: capitalize;
        @include content-center;


        >a {
          @include link(white);

          &:hover {
            // transition: all 0.2s ease-out;
            color: $quartary-text !important;
            // font-weight: 500;
          }
        }
      }
    }
  }

  .menu_mobile {
    display: flex;
    cursor: pointer;
    padding-right: 1.5rem;

    i {
      font-size: 1.5rem;
    }
  }
}



@include layout(md) {
  nav {
    width: 95%;

    >ul {
      display: flex;
      padding-left: 4rem;

      >li {
        padding: 0rem 0.5rem;
      }
    }

    .options {
      display: flex;

      >ul {
        >li {
          padding: 0rem 0.5rem;
        }
      }
    }

    .menu_mobile {
      display: none;
    }
  }
}


@include layout(lg) {
  nav {
    >ul {
      padding-left: 3rem;

      >li {
        padding: 0rem 1rem;
      }

    }

    .options {
      display: flex;

      >ul {
        >li {
          padding: 0rem 0.5rem;
        }
      }
    }

    .menu_mobile {
      display: none;
    }
  }
}