.container_list {
  display: flex;
  flex-direction: column;
  @include padding-x(2rem);
  // @include content-center;

  .container_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    @include padding-x(2rem);

    .containerInput {
      display: flex;
      flex-direction: row;
      width: 80%;
      @include padding-y(0.5rem);
    }

    .input-user {
      @include margin-x(1.5rem);
      width: 100%;

      > p {
        width: 95%;
        padding: 0;
        margin: 0;
        margin-top: 0.2rem;
        font-size: 0.7rem;
        line-height: 1rem;
        color: red;
      }

      input {
        font-size: 0.8rem;
        line-height: 1rem;
        border-radius: 0.3rem;
        background: white;
        border-style: solid;
        border-color: $primary-text !important;
        outline: none;
        width: 100%;
        color: $tertiary-text !important;
        @include padding-y(0.3rem);
        @include padding-x(0.5rem);
        &::placeholder {
          color: $primary-text;
        }
      }

      button {
        margin-top: 1rem;
        transition: all 0.3s ease-out;
        @include btn-normal(white);
        @include bg-2-gradient-diagonal(
          rgba(101, 122, 229, 1),
          rgba(118, 79, 168, 1)
        );

        i {
          font-size: 1.5rem;
        }

        &:hover {
          @include bg-2-gradient-diagonal(
            rgba(161, 101, 229, 1),
            rgba(87, 54, 131, 1)
          );
        }
      }
    }
  }

  > table {
    display: flex;
    flex-direction: column;
    width: 100%;

    > thead {
      display: flex;
      flex-direction: column;

      > tr {
        display: flex;
        flex-direction: row;
        color: $text-white;
        background-color: $secundary-bg;
        text-transform: uppercase;
        font-size: 0.8rem;
        line-height: 1rem;
        width: 100%;

        th {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 1rem;
          @include padding-y(0.8rem);

          &:nth-child(1) {
            display: flex;
            justify-content: center;
            width: 10%;
            padding-left: 0rem;
          }

          &:nth-child(2) {
            display: flex;
            width: 32%;
          }

          &:nth-child(3) {
            display: flex;
            width: 32%;
          }

          &:nth-child(4) {
            display: none;
            width: 20%;
          }

          &:nth-child(5) {
            display: none;
            width: 20%;
          }

          &:nth-child(6) {
            justify-content: center;
            width: 20%;
            padding-left: 0rem;
          }
        }
      }
    }

    > tbody {
      display: flex;
      flex-direction: column;

      > tr {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 0.9rem;
        color: $primary-text;
        background-color: white;
        border-bottom: 1px solid $quartary-bg;
        text-transform: lowercase;

        &:hover {
          background-color: $tertiary-bg;
        }

        td {
          display: flex;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 1rem;
          @include padding-y(0.5rem);

          .input-list {
            border: 1px solid red;
            font-size: 0.7rem;
            line-height: 1rem;
            border-radius: 0.2rem;
            background: rgb(245, 245, 245);
            border-style: solid;
            border-color: $primary-text !important;
            outline: none;
            width: 80%;
            color: $tertiary-text !important;
            @include padding-y(0.1rem);
            @include padding-x(0.2rem);
            &::placeholder {
              color: $primary-text;
            }
          }

          &:nth-child(1) {
            justify-content: center;
            width: 10%;
            padding-left: 0rem;
          }

          &:nth-child(2) {
            width: 32%;
          }

          &:nth-child(3) {
            width: 32%;
          }

          &:nth-child(4) {
            display: none;
            width: 20%;
          }

          &:nth-child(5) {
            display: none;
            width: 20%;
          }

          &:nth-child(6) {
            justify-content: center;
            width: 20%;
            padding-left: 0rem;
          }
        }
      }
    }

    .icons {
      display: flex;
      flex-direction: row;
      @include content-center;

      i {
        @include margin-x(0.4rem);
        font-size: 0.9rem;

        &:hover {
          cursor: pointer;
          color: $tertiary-text;
        }
      }
    }

    // Resolucion MD
    @include layout(md) {
      thead > tr > th {
        &:nth-child(1) {
          width: 8%;
        }

        &:nth-child(2) {
          width: 20%;
        }

        &:nth-child(3) {
          width: 25%;
        }

        &:nth-child(4) {
          display: flex;
          width: 26%;
        }

        &:nth-child(5) {
          display: none;
        }
      }

      tbody > tr > td {
        &:nth-child(1) {
          width: 8%;
        }

        &:nth-child(2) {
          width: 20%;
        }

        &:nth-child(3) {
          width: 25%;
        }

        &:nth-child(4) {
          display: flex;
          width: 26%;
        }

        &:nth-child(4) {
          display: flex;
        }

        &:nth-child(5) {
          display: none;
        }
      }
    }

    // Resolucion LG
    @include layout(lg) {
      thead > tr > th {
        &:nth-child(4),
        &:nth-child(5) {
          display: flex;
        }
      }

      tbody > tr > td {
        &:nth-child(4),
        &:nth-child(5) {
          display: flex;
        }
      }
    }
  }

  // Resolucion MD
  @include layout(md) {
    .container_user .input-user {
      // &:nth-child(1) {
      //     width: 8%;
      // }

      // &:nth-child(2) {
      //     width: 20%;
      // }

      // &:nth-child(3) {
      //     width: 25%;
      // }

      // &:nth-child(4) {
      //     display: flex;
      //     width: 26%;
      // }

      // &:nth-child(5) {
      //     display: none;
      // }
    }
  }

  // Resolucion LG
  @include layout(lg) {
    .container_user .input-user {
      // &:nth-child(4),
      // &:nth-child(5) {
      //     display: flex;
      // }
    }
  }
}
