// TEXTOS
$text-white:#f7fafc;
$primary-text: #a0aec0;
$secundary-text: #6b46c1;
$tertiary-text: #718096;
$quartary-text:#ffc400;

// FONDOS
$bg-white:#f7fafc;
$secundary-bg: #6b46c1;
$tertiary-bg: #edf2f7;
$quartary-bg: #d9dde0;

// BOTONES
$bg-btn-white:#f7fafc;
$primary-bg-btn: #6b46c1;
$secundary-bg-btn: #553c9a;